@charset "utf-8";
body{
	margin: 0px;
	padding: 0px;
}
.left{
	float:left;
}
.right{
	float:right;
}

.btn{border:0px;color:rgb(245,250,253); background-color:rgb(221,228,244);width:19px;}
.btn:hover,.btnHover{border:0px;color:rgb(245,250,253); width:19px;background-color:rgb(201,208,240);}
.btn:active{border:0px;width:19px;background-color:#fff;color:#000;}
#cal
{
 width: 434px;
 border: 1px solid #c3d9ff;
 font-size: 12px;
 margin: 8px 0 0 0;
}
#cal #top
{
 height: 29px;
 line-height: 29px;
 background: #e7eef8;
 color: #003784;
 padding-left: 30px;
}
#cal #top select
{
 font-size: 12px;
}
#cal #top input
{
 padding: 0;
}
#cal ul.wk
{
 margin: 0;
 padding: 0;
 height: 25px;
}
#cal ul.wk li
{
 float: left;
 width: 60px;
 text-align: center;
 line-height: 25px;
 list-style: none;
}
#cal ul.wk li b
{
 font-weight: normal;
 color: #c60b02;
}
#cal #cm
{
 clear: left;
 border-top: 1px solid #ddd;
 /*border-bottom: 1px dotted #ddd;*/
 position: relative;
 min-height:230px;
}
.holiday
{
background-color:rgb(255,230,227);
}
.unholiday
{
background-color:#ddd;
}
#cal #cm .cell
{
 position: absolute;
 width: 42px;
 height: 36px;
 text-align: center;
 margin: 0 0 0 9px;
}
#cal #cm .cell .so
{
 font: bold 16px arial;
}
#cal #bm
{
 text-align: right;
 /*
 height: 24px;
 line-height: 24px;
 */
 padding: 0 13px 0 0;
}
#cal #bm a
{
 color: #7977ce;
}
#cal #fd
{
 display: none;
 position: absolute;
 border: 1px solid #dddddf;
 background: #feffcd;
 padding: 10px;
 line-height: 21px;
 width: 150px;
}
#cal #fd b
{
 font-weight: normal;
 color: #c60a00;
}

.topbox,.botbox{
	margin-left:10px;
}
.topbox{
	clear:both
}
.leftbox{
	float:left;
}
.rightbox{
	float:left;
}
.botbox{
	clear:both;
	text-align: left;
}